AuthUserFile /kunden/315406_70794/rp-hosting/12801/62801/typo3cms/.htpasswd
AuthName "Passwortgeschuetzter Bereich: Deutschlandstipendium"
AuthType Basic
require user testds
require user verena.fauser
require user wiltrud.gekeler
require user sylvia.knutzen

RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://www.hfwu.de/ds/$1 [R,L]
